---
import moment from 'moment';
import _ from 'lodash';

const rangeOfDays = _.range(1,8)
interface Props {
    currentHour: number
}
const { currentHour } = Astro.props;
const hourString = moment().minutes(0).hour(currentHour).format('h:mm');

---
<p>{hourString}</p>
{ rangeOfDays.map((data) => {
    const day = moment().add(data, 'days').minutes(0).hour(currentHour)
    // These rows should be selectable
    return <p class="border text-center px-2 py-4">{}</p>
})}