<p class="border text-center px-2 py-2">No.</p>
<p class="border text-center px-2 py-2">Room name</p>
<p class="border text-center px-2 py-2">Date</p>
<p class="border text-center px-2 py-2">Start time</p>
<p class="border text-center px-2 py-2">End time</p>