---
import Layout from '../layouts/Layout.astro';
import RoomCard from '@components/RoomCard.astro';

---
<Layout title="Welcome to Astro.">
	<main class="flex flex-col items-center justify-center grow">
		<p class="text-white text-3xl font-jakarta py-4">Reserve a room</p>
		<div class="grid grid-cols-3 gap-4 w-1/2">
			<RoomCard seatNum={3} title='Room 1' roomId={1}></RoomCard>
			<RoomCard seatNum={3} title='Room 2' roomId={1}></RoomCard>
			<RoomCard seatNum={3} title='Room 3' roomId={1}></RoomCard>
			<RoomCard seatNum={3} title='Room 4' roomId={1}></RoomCard>
			<RoomCard seatNum={3} title='Room 5' roomId={1}></RoomCard>
		</div>
	</main>
</Layout>

